runwaysdk-gis/runwaysdk-gis-test/src/main/resources/transactionItem.xml

<?xml version="1.0"?>
<!--

    Copyright (c) 2015 TerraFrame, Inc. All rights reserved.

    This file is part of Runway SDK GIS(tm).

    Runway SDK GIS(tm) is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    Runway SDK GIS(tm) is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with Runway SDK GIS(tm).  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="instance.xsd"/>
  <xs:element name="transactionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="action">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CREATE" />
              <xs:enumeration value="UPDATE" />
              <xs:enumeration value="DELETE" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="xmlrecord">
          <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
              <xs:element ref="object"/>
              <xs:element ref="relationship"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="seq" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>