runwaysdk-archetype/src/main/resources/archetype-resources/src/main/resources/connectionsSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Runway">
	<xs:complexType>
		<xs:sequence>
		
	    <xs:element name="connection" minOccurs="1" maxOccurs="unbounded">
		<xs:complexType>
		    <xs:sequence>
				<xs:element name="label" type="xs:string"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="address" type="xs:string"/>
		    </xs:sequence>
		</xs:complexType>
	    </xs:element>
	    
		</xs:sequence>
	</xs:complexType>
    </xs:element>

</xs:schema>
